html {
  font-size: 62.5%;;
}

body {
  font-family: "Open Sans";
  margin: 0;
}

main {
  /* padding-top: 6rem; */
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: #e7e7e7;
  padding: 0;
}

footer h5 {
  margin: 0;
  padding: 1rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.nav {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  width: 100%;
  background-color: #343434;
}

.nav-list {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}

.nav-list a {
  display: block;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.projects-section {
  display: flex;
  color: #e7e7e7;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 2rem;
  background-color: #343434;
  height: 100vh;
}

.project-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: end;
  align-content: start;
  gap: 1rem;
  padding: 1rem;
  width: 80%;
  
}

.project-tile {
  /* border: solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  overflow: hidden;
  margin: 2rem;
  height: 20rem;
  max-width: 100%;
  background-color: white;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  
}

.project-tile a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.project-image {
  height: calc(100% - 4rem);
  width: 100%;
  object-fit: cover;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e7e7e7;
  margin-bottom: 0;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 80%;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
}
